In [1]:
# import all necessary dependencies
import pandas as pd
import pathlib
from pathlib import Path
from sqlalchemy import create_engine, inspect, text
from sqlalchemy.orm import Session
import matplotlib.pyplot as plt
from sqlalchemy.types import String, Float, Integer
import psycopg2
import sklearn as skl
import tensorflow as tf
from sklearn.datasets import make_moons
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import StandardScaler

In [2]:
# read in the four raw data files
season_2015_df = pd.read_excel('wr_season_2015.xlsx')
season_2016_df = pd.read_excel('wr_season_2016.xlsx')
season_2017_df = pd.read_excel('wr_season_2017.xlsx')
season_2018_df = pd.read_excel('wr_season_2018.xlsx')
season_2019_df = pd.read_excel('wr_season_2019.xlsx')
season_2020_df = pd.read_excel('wr_season_2020.xlsx')
season_2021_df = pd.read_excel('wr_season_2021.xlsx')

## Data Cleaning

In [3]:
# preview new dataframe
season_2015_df.head()

,Rk,Name,Team,Pos,GMS,TGTS,REC,PCT,YDS,TD,...,Y/T,Y/R,ATT,YDS.1,AVG,TD.1,FUM,LST,FPTS/G,FPTS
0,1,Antonio Brown,PIT,WR,16,193,136,70.5,1834,10,...,9.5,13.5,3,28,9.3,0,3,2,15.4,246.2
1,2,Julio Jones,ATL,WR,16,203,136,67.0,1871,8,...,9.2,13.8,0,0,0.0,2,3,1,15.3,245.1
2,3,Brandon Marshall,NYJ,WR,16,173,109,63.0,1502,14,...,8.7,13.8,0,0,0.0,0,3,2,14.4,230.2
3,4,Allen Robinson II,JAX,WR,16,151,80,53.0,1400,14,...,9.3,17.5,0,0,0.0,0,0,0,14.0,224.0
4,5,Odell Beckham Jr.,NYG,WR,15,158,96,60.8,1450,13,...,9.2,15.1,1,3,3.0,0,2,0,14.9,223.3

In [4]:
# drop rank column from all dataframes since we don't need this value for the model
season_2015_df = season_2015_df.drop(columns=['Rk'])
season_2016_df = season_2016_df.drop(columns=['Rk'])
season_2017_df = season_2017_df.drop(columns=['Rank'])
season_2018_df = season_2018_df.drop(columns=['Rank'])
season_2019_df = season_2019_df.drop(columns=['Rank'])
season_2020_df = season_2020_df.drop(columns=['Rank'])
season_2021_df = season_2021_df.drop(columns=['Rank'])

In [5]:
# rename columns to be clear terminology
season_2015_df = season_2015_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'REC': 'Receptions', 'TGTS': 'Targets', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [6]:
# rename columns to be clear terminology
season_2016_df = season_2016_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'REC': 'Receptions', 'TGTS': 'Targets', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [7]:
# rename columns to be clear terminology
season_2017_df = season_2017_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'REC': 'Receptions', 'TGTS': 'Targets', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [8]:
# rename columns to be clear terminology
season_2018_df = season_2018_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'REC': 'Receptions', 'TGTS': 'Targets', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [9]:
# rename columns to be clear terminology
season_2019_df = season_2019_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'REC': 'Receptions', 'TGTS': 'Targets', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [10]:
# rename columns to be clear terminology
season_2020_df = season_2020_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'TGTS': 'Targets', 'REC': 'Receptions', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [11]:
# rename columns to be clear terminology
season_2021_df = season_2021_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'TGTS': 'Targets', 'REC': 'Receptions', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [12]:
# check to make sure columns have been renamed
season_2015_df

,Name,Team,Position,Games,Targets,Receptions,Percentage,Yards,Touchdowns,Long,Yards_per_target,Yards_per_reception,Attempts,Rushing_yards,Average_rushing_yards,Rushing_touchdown,Fumbles,Lost_yards,Fantasy_points_per_game,Fantasy_points
0,Antonio Brown,PIT,WR,16,193,136,70.5,1834,10,59,9.5,13.5,3,28,9.3,0,3,2,15.4,246.2
1,Julio Jones,ATL,WR,16,203,136,67.0,1871,8,70,9.2,13.8,0,0,0.0,2,3,1,15.3,245.1
2,Brandon Marshall,NYJ,WR,16,173,109,63.0,1502,14,69,8.7,13.8,0,0,0.0,0,3,2,14.4,230.2
3,Allen Robinson II,JAX,WR,16,151,80,53.0,1400,14,90,9.3,17.5,0,0,0.0,0,0,0,14.0,224.0
4,Odell Beckham Jr.,NYG,WR,15,158,96,60.8,1450,13,87,9.2,15.1,1,3,3.0,0,2,0,14.9,223.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,Je'Ron Hamm,SF,WR,1,0,0,0.0,0,0,0,0.0,0.0,0,0,0.0,0,0,0,0.0,0.0
212,Chris Harper,NE,WR,5,3,1,33.3,6,0,6,2.0,6.0,0,0,0.0,0,1,1,-0.3,-1.4
213,Denarius Moore,BUF,WR,6,0,0,0.0,0,0,0,0.0,0.0,0,0,0.0,0,2,1,-0.3,-2.0
214,Frankie Hammond,KC,WR,9,0,0,0.0,0,0,0,0.0,0.0,0,0,0.0,0,2,1,-0.2,-2.0
215,Jacoby Jones,PIT,WR,9,0,0,0.0,0,0,0,0.0,0.0,0,0,0.0,0,3,1,-0.2,-2.0

In [13]:
# add column to each dataframe that contains the year of play
season_2015_df['Year'] = '2015'
season_2016_df['Year'] = '2016'
season_2017_df['Year'] = '2017'
season_2018_df['Year'] = '2018'
season_2019_df['Year'] = '2019'
season_2020_df['Year'] = '2020'
season_2021_df['Year'] = '2021'

In [34]:
# all_dfs = [season_2015_df, season_2016_df, season_2017_df, season_2018_df, season_2019_df, season_2020_df, season_2021_df]
# results = pd.concat(all_dfs)
all_dfs = [season_2018_df, season_2019_df, season_2020_df, season_2021_df]
results = pd.concat(all_dfs)

In [592]:
# write the clean dataframes to csv for future use
season_2015_df.to_csv('wr_season_2015_clean.csv', index=False)

In [351]:
# write the clean dataframes to csv for future use
season_2016_df.to_csv('wr_season_2016_clean.csv', index=False)

In [263]:
# write the clean dataframes to csv for future use
season_2017_df.to_csv('wr_season_2017_clean.csv', index=False)

In [230]:
# write the clean dataframes to csv for future use
season_2018_df.to_csv('wr_season_2018_clean.csv', index=False)

In [210]:
# write the clean dataframes to csv for future use
season_2019_df.to_csv('wr_season_2019_clean.csv', index=False)

In [211]:
# write the clean dataframes to csv for future use
season_2020_df.to_csv('wr_season_2020_clean.csv', index=False)

In [212]:
# write the clean dataframes to csv for future use
season_2021_df.to_csv('wr_season_2021_clean.csv', index=False)

In [15]:
# check datatypes for creating sql table
season_2019_df.dtypes

Name                        object
Team                        object
Position                    object
Games                        int64
Targets                      int64
Receptions                   int64
Percentage                 float64
Yards                        int64
Touchdowns                   int64
Long                         int64
Yards_per_target           float64
Yards_per_reception        float64
Attempts                     int64
Rushing_yards                int64
Average_rushing_yards      float64
Rushing_touchdown            int64
Fumbles                      int64
Lost_yards                   int64
Fantasy_points_per_game    float64
Fantasy_points             float64
Year                        object
dtype: object

In [16]:
# create engine to connect to postgresql database
engine = create_engine('postgresql://postgres:postgres@localhost:5432/nfl_db')

# write season_2019_df to a postgres table
season_2019_df.to_sql('season_2019', engine, index= False, if_exists='replace', chunksize = 500,
                 dtype = {'Name': String,
                  'Team': String,
                  'Position': String,
                  'Games': Integer,
                  'Targets': Integer,
                  'Receptions': Integer,
                  'Percentage': Float,
                  'Yards': Integer,
                  'Touchdowns': Integer,
                  'Long': Integer,
                  'Yards_per_target': Float,
                  'Yards_per_recption': Float,
                  'Attempts': Integer,
                  'Rushing_yards': Integer,
                  'Average_rushing_yards': Float,
                  'Rushing_touchdown': Integer,
                  'Fumbles': Integer,
                  'Lost_yards': Integer,
                  'Fantasy_points_per_game': Float,
                  'Fantasy_points': Float,
                  'Year': String})

236

In [17]:
# write season_2020_df to a postgres table
season_2020_df.to_sql('season_2020', engine, index= False, if_exists='replace', chunksize = 500,
                 dtype = {'Name': String,
                  'Team': String,
                  'Position': String,
                  'Games': Integer,
                  'Targets': Integer,
                  'Receptions': Integer,
                  'Percentage': Float,
                  'Yards': Integer,
                  'Touchdowns': Integer,
                  'Long': Integer,
                  'Yards_per_target': Float,
                  'Yards_per_recption': Float,
                  'Attempts': Integer,
                  'Rushing_yards': Integer,
                  'Average_rushing_yards': Float,
                  'Rushing_touchdown': Integer,
                  'Fumbles': Integer,
                  'Lost_yards': Integer,
                  'Fantasy_points_per_game': Float,
                  'Fantasy_points': Float,
                  'Year': String})

248

In [18]:
# write season_2021_df to a postgres table
season_2021_df.to_sql('season_2021', engine, index= False, if_exists='replace', chunksize = 500,
                 dtype = {'Name': String,
                  'Team': String,
                  'Position': String,
                  'Games': Integer,
                  'Targets': Integer,
                  'Receptions': Integer,
                  'Percentage': Float,
                  'Yards': Integer,
                  'Touchdowns': Integer,
                  'Long': Integer,
                  'Yards_per_target': Float,
                  'Yards_per_recption': Float,
                  'Attempts': Integer,
                  'Rushing_yards': Integer,
                  'Average_rushing_yards': Float,
                  'Rushing_touchdown': Integer,
                  'Fumbles': Integer,
                  'Lost_yards': Integer,
                  'Fantasy_points_per_game': Float,
                  'Fantasy_points': Float,
                  'Year': String})

269

In [33]:
# with engine.connect() as con:
#     con.execute(text("ALTER TABLE season_2019 ADD PRIMARY KEY (Name);"))
#     con.execute(text('Select * from season_2019 limit(10)')).fetchall()

In [15]:
# insp = inspect(engine)
# print(insp.get_table_names())

In [16]:
# columns = insp.get_columns('season_2019')
# for column in columns:
#     print(column['name'], column['type'])

In [17]:
# query all records from the season_2019 table
# with engine.connect() as con:
#     season_2019_data = pd.read_sql("SELECT * FROM season_2019", con)

## Data Preprocessing

In [35]:
# drop unnecessary columns before fitting model
results = results.drop(columns=['Team', 'Position', 'Year'])

In [36]:
# set name column as index
results = results.set_index('Name')

In [451]:
# filtered_results = results[(results.Fantasy_points >= 20)]
# results = results[['Receptions', 'Yards', 'Touchdowns']]
# filtered_results = results[(results.Fantasy_points >= 20)]

In [37]:
# view new df containing converted data
results

,Games,Targets,Receptions,Percentage,Yards,Touchdowns,Long,Yards_per_target,Yards_per_reception,Attempts,Rushing_yards,Average_rushing_yards,Rushing_touchdown,Fumbles,Lost_yards,Fantasy_points_per_game,Fantasy_points
Name,,,,,,,,,,,,,,,,,
Tyreek Hill,16,137,87,63.5,1479,12,75,10.8,17.0,22,151,6.9,1,0,0,15.1,241.0
Antonio Brown,15,168,104,61.9,1297,15,78,7.7,12.5,0,0,0.0,0,0,0,14.6,219.7
Davante Adams,15,169,111,65.7,1386,13,57,8.2,12.5,0,0,0.0,0,0,0,14.6,218.6
DeAndre Hopkins,16,163,115,70.6,1572,11,49,9.6,13.7,1,-7,-7.0,0,2,2,13.7,218.5
Julio Jones,16,170,113,66.5,1677,8,58,9.9,14.8,2,12,6.0,0,2,2,13.3,212.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Malik Taylor,10,3,2,66.7,14,0,7,4.7,7.0,0,0,0.0,0,1,1,-0.1,-0.6
Racey McMath,9,6,2,33.3,8,0,9,1.3,4.0,0,0,0.0,0,1,1,-0.1,-1.2
Travis Benjamin,10,5,0,0.0,0,0,0,0.0,0.0,0,0,0.0,0,1,1,-0.2,-2.0
J.J. Koski,5,0,0,0.0,0,0,0,0.0,0.0,0,0,0.0,0,1,1,-0.4,-2.0
Diontae Spencer,15,4,1,25.0,-3,0,0,-0.8,-3.0,0,0,0.0,0,2,2,-0.3,-4.3

In [38]:
results.shape

(990, 17)

In [39]:
# y is the target and x is the features
# for this case we're training on touchdown performance first
y = results['Touchdowns']
X = results.drop(columns=['Touchdowns'])

# create the training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=.20)

In [40]:
# create a StandardScaler instance
scaler = StandardScaler()

# fit the StandardScaler
X_scaler = scaler.fit(X_train)

# scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [41]:
X_test.shape

(198, 16)

## Model Creation

In [42]:
# define the model
nn = Sequential()

# first hidden layer
nn.add(Dense(units=100, activation = 'relu', input_dim = X_test.shape[1]))

# second hidden layer
nn.add(Dense(units=60, activation='relu'))

# third hidden layer
nn.add(Dense(units=30, activation='relu'))

# output layer
nn.add(Dense(units=1, activation='relu'))

# check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 100)               1700

 dense_5 (Dense)             (None, 60)                6060

 dense_6 (Dense)             (None, 30)                1830

 dense_7 (Dense)             (None, 1)                 31

=================================================================
Total params: 9621 (37.58 KB)
Trainable params: 9621 (37.58 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
# compile the model
# mae or mse
nn.compile(loss="mse", optimizer="adam", metrics=["accuracy"])

In [44]:
# train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=60)

Epoch 1/60
25/25 [==============================] - 0s 611us/step - loss: 6.8910 - accuracy: 0.4331
Epoch 2/60
25/25 [==============================] - 0s 602us/step - loss: 2.2468 - accuracy: 0.4508
Epoch 3/60
25/25 [==============================] - 0s 516us/step - loss: 1.4855 - accuracy: 0.4735
Epoch 4/60
25/25 [==============================] - 0s 545us/step - loss: 1.3191 - accuracy: 0.4646
Epoch 5/60
25/25 [==============================] - 0s 594us/step - loss: 1.2516 - accuracy: 0.4684
Epoch 6/60
25/25 [==============================] - 0s 572us/step - loss: 1.1359 - accuracy: 0.4773
Epoch 7/60
25/25 [==============================] - 0s 588us/step - loss: 0.9249 - accuracy: 0.4823
Epoch 8/60
25/25 [==============================] - 0s 550us/step - loss: 0.7846 - accuracy: 0.4773
Epoch 9/60
25/25 [==============================] - 0s 576us/step - loss: 0.6416 - accuracy: 0.4924
Epoch 10/60
25/25 [==============================] - 0s 567us/step - loss: 0.4839 - accuracy: 0.4962
Epoch 11/60
25/25 [==============================] - 0s 556us/step - loss: 0.4324 - accuracy: 0.5025
Epoch 12/60
25/25 [==============================] - 0s 590us/step - loss: 0.2886 - accuracy: 0.5101
Epoch 13/60
25/25 [==============================] - 0s 575us/step - loss: 0.2324 - accuracy: 0.5177
Epoch 14/60
25/25 [==============================] - 0s 596us/step - loss: 0.2146 - accuracy: 0.5290
Epoch 15/60
25/25 [==============================] - 0s 584us/step - loss: 0.1909 - accuracy: 0.5265
Epoch 16/60
25/25 [==============================] - 0s 595us/step - loss: 0.1725 - accuracy: 0.5379
Epoch 17/60
25/25 [==============================] - 0s 608us/step - loss: 0.1330 - accuracy: 0.5480
Epoch 18/60
25/25 [==============================] - 0s 575us/step - loss: 0.1661 - accuracy: 0.5455
Epoch 19/60
25/25 [==============================] - 0s 593us/step - loss: 0.1667 - accuracy: 0.5543
Epoch 20/60
25/25 [==============================] - 0s 593us/step - loss: 0.1636 - accuracy: 0.5505
Epoch 21/60
25/25 [==============================] - 0s 596us/step - loss: 0.1111 - accuracy: 0.5568
Epoch 22/60
25/25 [==============================] - 0s 579us/step - loss: 0.0874 - accuracy: 0.5644
Epoch 23/60
25/25 [==============================] - 0s 598us/step - loss: 0.1208 - accuracy: 0.5619
Epoch 24/60
25/25 [==============================] - 0s 598us/step - loss: 0.1536 - accuracy: 0.5593
Epoch 25/60
25/25 [==============================] - 0s 581us/step - loss: 0.1769 - accuracy: 0.5593
Epoch 26/60
25/25 [==============================] - 0s 574us/step - loss: 0.0814 - accuracy: 0.5669
Epoch 27/60
25/25 [==============================] - 0s 577us/step - loss: 0.0815 - accuracy: 0.5682
Epoch 28/60
25/25 [==============================] - 0s 558us/step - loss: 0.0782 - accuracy: 0.5707
Epoch 29/60
25/25 [==============================] - 0s 578us/step - loss: 0.0814 - accuracy: 0.5707
Epoch 30/60
25/25 [==============================] - 0s 617us/step - loss: 0.0730 - accuracy: 0.5694
Epoch 31/60
25/25 [==============================] - 0s 553us/step - loss: 0.0527 - accuracy: 0.5758
Epoch 32/60
25/25 [==============================] - 0s 626us/step - loss: 0.0490 - accuracy: 0.5758
Epoch 33/60
25/25 [==============================] - 0s 616us/step - loss: 0.0566 - accuracy: 0.5745
Epoch 34/60
25/25 [==============================] - 0s 614us/step - loss: 0.0517 - accuracy: 0.5732
Epoch 35/60
25/25 [==============================] - 0s 595us/step - loss: 0.0463 - accuracy: 0.5732
Epoch 36/60
25/25 [==============================] - 0s 611us/step - loss: 0.0406 - accuracy: 0.5783
Epoch 37/60
25/25 [==============================] - 0s 615us/step - loss: 0.0456 - accuracy: 0.5745
Epoch 38/60
25/25 [==============================] - 0s 607us/step - loss: 0.0695 - accuracy: 0.5720
Epoch 39/60
25/25 [==============================] - 0s 595us/step - loss: 0.0648 - accuracy: 0.5770
Epoch 40/60
25/25 [==============================] - 0s 586us/step - loss: 0.0777 - accuracy: 0.5758
Epoch 41/60
25/25 [==============================] - 0s 607us/step - loss: 0.0495 - accuracy: 0.5783
Epoch 42/60
25/25 [==============================] - 0s 590us/step - loss: 0.0428 - accuracy: 0.5783
Epoch 43/60
25/25 [==============================] - 0s 573us/step - loss: 0.0400 - accuracy: 0.5783
Epoch 44/60
25/25 [==============================] - 0s 596us/step - loss: 0.0328 - accuracy: 0.5783
Epoch 45/60
25/25 [==============================] - 0s 591us/step - loss: 0.0362 - accuracy: 0.5758
Epoch 46/60
25/25 [==============================] - 0s 596us/step - loss: 0.0396 - accuracy: 0.5770
Epoch 47/60
25/25 [==============================] - 0s 576us/step - loss: 0.0362 - accuracy: 0.5783
Epoch 48/60
25/25 [==============================] - 0s 582us/step - loss: 0.0312 - accuracy: 0.5770
Epoch 49/60
25/25 [==============================] - 0s 583us/step - loss: 0.0350 - accuracy: 0.5783
Epoch 50/60
25/25 [==============================] - 0s 556us/step - loss: 0.0336 - accuracy: 0.5783
Epoch 51/60
25/25 [==============================] - 0s 560us/step - loss: 0.0397 - accuracy: 0.5770
Epoch 52/60
25/25 [==============================] - 0s 582us/step - loss: 0.0387 - accuracy: 0.5783
Epoch 53/60
25/25 [==============================] - 0s 591us/step - loss: 0.0333 - accuracy: 0.5770
Epoch 54/60
25/25 [==============================] - 0s 584us/step - loss: 0.0510 - accuracy: 0.5770
Epoch 55/60
25/25 [==============================] - 0s 632us/step - loss: 0.0469 - accuracy: 0.5745
Epoch 56/60
25/25 [==============================] - 0s 589us/step - loss: 0.0459 - accuracy: 0.5758
Epoch 57/60
25/25 [==============================] - 0s 575us/step - loss: 0.0423 - accuracy: 0.5783
Epoch 58/60
25/25 [==============================] - 0s 597us/step - loss: 0.0323 - accuracy: 0.5770
Epoch 59/60
25/25 [==============================] - 0s 576us/step - loss: 0.0288 - accuracy: 0.5783
Epoch 60/60
25/25 [==============================] - 0s 594us/step - loss: 0.0319 - accuracy: 0.5783

In [45]:
# evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

7/7 - 0s - loss: 0.1180 - accuracy: 0.6061 - 58ms/epoch - 8ms/step
Loss: 0.11802440136671066, Accuracy: 0.6060606241226196