In [197]:
# import all necessary dependencies
import pandas as pd
import pathlib
from pathlib import Path
from sqlalchemy import create_engine, inspect, text
from sqlalchemy.orm import Session
import matplotlib.pyplot as plt
from sqlalchemy.types import String, Float, Integer
import psycopg2
import sklearn as skl
import tensorflow as tf
from sklearn.datasets import make_moons
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import StandardScaler

In [579]:
# read in the four raw data files
season_2015_df = pd.read_excel('wr_season_2015.xlsx')
season_2016_df = pd.read_excel('wr_season_2016.xlsx')
season_2017_df = pd.read_excel('wr_season_2017.xlsx')
season_2018_df = pd.read_excel('wr_season_2018.xlsx')
season_2019_df = pd.read_excel('wr_season_2019.xlsx')
season_2020_df = pd.read_excel('wr_season_2020.xlsx')
season_2021_df = pd.read_excel('wr_season_2021.xlsx')

## Data Cleaning

In [580]:
# preview new dataframe
season_2015_df.head()

,Rk,Name,Team,Pos,GMS,TGTS,REC,PCT,YDS,TD,...,Y/T,Y/R,ATT,YDS.1,AVG,TD.1,FUM,LST,FPTS/G,FPTS
0,1,Antonio Brown,PIT,WR,16,193,136,70.5,1834,10,...,9.5,13.5,3,28,9.3,0,3,2,15.4,246.2
1,2,Julio Jones,ATL,WR,16,203,136,67.0,1871,8,...,9.2,13.8,0,0,0.0,2,3,1,15.3,245.1
2,3,Brandon Marshall,NYJ,WR,16,173,109,63.0,1502,14,...,8.7,13.8,0,0,0.0,0,3,2,14.4,230.2
3,4,Allen Robinson II,JAX,WR,16,151,80,53.0,1400,14,...,9.3,17.5,0,0,0.0,0,0,0,14.0,224.0
4,5,Odell Beckham Jr.,NYG,WR,15,158,96,60.8,1450,13,...,9.2,15.1,1,3,3.0,0,2,0,14.9,223.3

In [581]:
# drop rank column from all dataframes since we don't need this value for the model
season_2015_df = season_2015_df.drop(columns=['Rk'])
season_2016_df = season_2016_df.drop(columns=['Rk'])
season_2017_df = season_2017_df.drop(columns=['Rank'])
season_2018_df = season_2018_df.drop(columns=['Rank'])
season_2019_df = season_2019_df.drop(columns=['Rank'])
season_2020_df = season_2020_df.drop(columns=['Rank'])
season_2021_df = season_2021_df.drop(columns=['Rank'])

In [582]:
# rename columns to be clear terminology
season_2015_df = season_2015_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'REC': 'Receptions', 'TGTS': 'Targets', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [583]:
# rename columns to be clear terminology
season_2016_df = season_2016_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'REC': 'Receptions', 'TGTS': 'Targets', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [584]:
# rename columns to be clear terminology
season_2017_df = season_2017_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'REC': 'Receptions', 'TGTS': 'Targets', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [585]:
# rename columns to be clear terminology
season_2018_df = season_2018_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'REC': 'Receptions', 'TGTS': 'Targets', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [586]:
# rename columns to be clear terminology
season_2019_df = season_2019_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'REC': 'Receptions', 'TGTS': 'Targets', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [587]:
# rename columns to be clear terminology
season_2020_df = season_2020_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'TGTS': 'Targets', 'REC': 'Receptions', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [588]:
# rename columns to be clear terminology
season_2021_df = season_2021_df.rename(columns={'Pos': 'Position', 'GMS': 'Games', 'TGTS': 'Targets', 'REC': 'Receptions', 'PCT': 'Percentage',
                               'YDS': 'Yards', 'TD': 'Touchdowns', 'LNG': 'Long', 'Y/T': 'Yards_per_target', 'Y/R': 'Yards_per_reception', 'ATT': 'Attempts',
                               'TD.1': 'Rushing_touchdown', 'YDS.1': 'Rushing_yards', 'AVG': 'Average_rushing_yards', 'FUM': 'Fumbles', 'LST': 'Lost_yards',
                               'FPTS/G': 'Fantasy_points_per_game', 'FPTS': 'Fantasy_points'})

In [589]:
# check to make sure columns have been renamed
season_2015_df

,Name,Team,Position,Games,Targets,Receptions,Percentage,Yards,Touchdowns,Long,Yards_per_target,Yards_per_reception,Attempts,Rushing_yards,Average_rushing_yards,Rushing_touchdown,Fumbles,Lost_yards,Fantasy_points_per_game,Fantasy_points
0,Antonio Brown,PIT,WR,16,193,136,70.5,1834,10,59,9.5,13.5,3,28,9.3,0,3,2,15.4,246.2
1,Julio Jones,ATL,WR,16,203,136,67.0,1871,8,70,9.2,13.8,0,0,0.0,2,3,1,15.3,245.1
2,Brandon Marshall,NYJ,WR,16,173,109,63.0,1502,14,69,8.7,13.8,0,0,0.0,0,3,2,14.4,230.2
3,Allen Robinson II,JAX,WR,16,151,80,53.0,1400,14,90,9.3,17.5,0,0,0.0,0,0,0,14.0,224.0
4,Odell Beckham Jr.,NYG,WR,15,158,96,60.8,1450,13,87,9.2,15.1,1,3,3.0,0,2,0,14.9,223.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,Je'Ron Hamm,SF,WR,1,0,0,0.0,0,0,0,0.0,0.0,0,0,0.0,0,0,0,0.0,0.0
212,Chris Harper,NE,WR,5,3,1,33.3,6,0,6,2.0,6.0,0,0,0.0,0,1,1,-0.3,-1.4
213,Denarius Moore,BUF,WR,6,0,0,0.0,0,0,0,0.0,0.0,0,0,0.0,0,2,1,-0.3,-2.0
214,Frankie Hammond,KC,WR,9,0,0,0.0,0,0,0,0.0,0.0,0,0,0.0,0,2,1,-0.2,-2.0
215,Jacoby Jones,PIT,WR,9,0,0,0.0,0,0,0,0.0,0.0,0,0,0.0,0,3,1,-0.2,-2.0

In [590]:
# add column to each dataframe that contains the year of play
season_2015_df['Year'] = '2015'
season_2016_df['Year'] = '2016'
season_2017_df['Year'] = '2017'
season_2018_df['Year'] = '2018'
season_2019_df['Year'] = '2019'
season_2020_df['Year'] = '2020'
season_2021_df['Year'] = '2021'

In [591]:
all_dfs = [season_2015_df, season_2016_df, season_2017_df, season_2018_df, season_2019_df, season_2020_df, season_2021_df]
results = pd.concat(all_dfs)

In [592]:
# write the clean dataframes to csv for future use
season_2015_df.to_csv('wr_season_2015_clean.csv', index=False)

In [351]:
# write the clean dataframes to csv for future use
season_2016_df.to_csv('wr_season_2016_clean.csv', index=False)

In [263]:
# write the clean dataframes to csv for future use
season_2017_df.to_csv('wr_season_2017_clean.csv', index=False)

In [230]:
# write the clean dataframes to csv for future use
season_2018_df.to_csv('wr_season_2018_clean.csv', index=False)

In [210]:
# write the clean dataframes to csv for future use
season_2019_df.to_csv('wr_season_2019_clean.csv', index=False)

In [211]:
# write the clean dataframes to csv for future use
season_2020_df.to_csv('wr_season_2020_clean.csv', index=False)

In [212]:
# write the clean dataframes to csv for future use
season_2021_df.to_csv('wr_season_2021_clean.csv', index=False)

In [15]:
# check datatypes for creating sql table
season_2019_df.dtypes

Name                        object
Team                        object
Position                    object
Games                        int64
Targets                      int64
Receptions                   int64
Percentage                 float64
Yards                        int64
Touchdowns                   int64
Long                         int64
Yards_per_target           float64
Yards_per_reception        float64
Attempts                     int64
Rushing_yards                int64
Average_rushing_yards      float64
Rushing_touchdown            int64
Fumbles                      int64
Lost_yards                   int64
Fantasy_points_per_game    float64
Fantasy_points             float64
Year                        object
dtype: object

In [16]:
# create engine to connect to postgresql database
engine = create_engine('postgresql://postgres:postgres@localhost:5432/nfl_db')

# write season_2019_df to a postgres table
season_2019_df.to_sql('season_2019', engine, index= False, if_exists='replace', chunksize = 500,
                 dtype = {'Name': String,
                  'Team': String,
                  'Position': String,
                  'Games': Integer,
                  'Targets': Integer,
                  'Receptions': Integer,
                  'Percentage': Float,
                  'Yards': Integer,
                  'Touchdowns': Integer,
                  'Long': Integer,
                  'Yards_per_target': Float,
                  'Yards_per_recption': Float,
                  'Attempts': Integer,
                  'Rushing_yards': Integer,
                  'Average_rushing_yards': Float,
                  'Rushing_touchdown': Integer,
                  'Fumbles': Integer,
                  'Lost_yards': Integer,
                  'Fantasy_points_per_game': Float,
                  'Fantasy_points': Float,
                  'Year': String})

236

In [17]:
# write season_2020_df to a postgres table
season_2020_df.to_sql('season_2020', engine, index= False, if_exists='replace', chunksize = 500,
                 dtype = {'Name': String,
                  'Team': String,
                  'Position': String,
                  'Games': Integer,
                  'Targets': Integer,
                  'Receptions': Integer,
                  'Percentage': Float,
                  'Yards': Integer,
                  'Touchdowns': Integer,
                  'Long': Integer,
                  'Yards_per_target': Float,
                  'Yards_per_recption': Float,
                  'Attempts': Integer,
                  'Rushing_yards': Integer,
                  'Average_rushing_yards': Float,
                  'Rushing_touchdown': Integer,
                  'Fumbles': Integer,
                  'Lost_yards': Integer,
                  'Fantasy_points_per_game': Float,
                  'Fantasy_points': Float,
                  'Year': String})

248

In [18]:
# write season_2021_df to a postgres table
season_2021_df.to_sql('season_2021', engine, index= False, if_exists='replace', chunksize = 500,
                 dtype = {'Name': String,
                  'Team': String,
                  'Position': String,
                  'Games': Integer,
                  'Targets': Integer,
                  'Receptions': Integer,
                  'Percentage': Float,
                  'Yards': Integer,
                  'Touchdowns': Integer,
                  'Long': Integer,
                  'Yards_per_target': Float,
                  'Yards_per_recption': Float,
                  'Attempts': Integer,
                  'Rushing_yards': Integer,
                  'Average_rushing_yards': Float,
                  'Rushing_touchdown': Integer,
                  'Fumbles': Integer,
                  'Lost_yards': Integer,
                  'Fantasy_points_per_game': Float,
                  'Fantasy_points': Float,
                  'Year': String})

269

In [33]:
# with engine.connect() as con:
#     con.execute(text("ALTER TABLE season_2019 ADD PRIMARY KEY (Name);"))
#     con.execute(text('Select * from season_2019 limit(10)')).fetchall()

In [19]:
# insp = inspect(engine)
# print(insp.get_table_names())

['season_2019', 'season_2020', 'season_2021']

In [20]:
# columns = insp.get_columns('season_2019')
# for column in columns:
#     print(column['name'], column['type'])

Name VARCHAR
Team VARCHAR
Position VARCHAR
Games INTEGER
Targets INTEGER
Receptions INTEGER
Percentage DOUBLE PRECISION
Yards INTEGER
Touchdowns INTEGER
Long INTEGER
Yards_per_target DOUBLE PRECISION
Yards_per_reception DOUBLE PRECISION
Attempts INTEGER
Rushing_yards INTEGER
Average_rushing_yards DOUBLE PRECISION
Rushing_touchdown INTEGER
Fumbles INTEGER
Lost_yards INTEGER
Fantasy_points_per_game DOUBLE PRECISION
Fantasy_points DOUBLE PRECISION
Year VARCHAR

In [26]:
# query all records from the season_2019 table
# with engine.connect() as con:
#     season_2019_data = pd.read_sql("SELECT * FROM season_2019", con)

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM season_2019'

## Data Preprocessing

In [593]:
# drop unnecessary columns before fitting model
results = results.drop(columns=['Team', 'Position', 'Year', 'Rushing_yards', 'Attempts', 'Average_rushing_yards', 'Rushing_touchdown', 'Fumbles', 'Lost_yards'])

In [594]:
# set name column as index
results = results.set_index('Name')

In [451]:
# filtered_results = results[(results.Fantasy_points >= 20)]
# results = results[['Receptions', 'Yards', 'Touchdowns']]
# filtered_results = results[(results.Fantasy_points >= 20)]

In [595]:
# view new df containing converted data
results

,Games,Targets,Receptions,Percentage,Yards,Touchdowns,Long,Yards_per_target,Yards_per_reception,Fantasy_points_per_game,Fantasy_points
Name,,,,,,,,,,,
Antonio Brown,16,193,136,70.5,1834,10,59,9.5,13.5,15.4,246.2
Julio Jones,16,203,136,67.0,1871,8,70,9.2,13.8,15.3,245.1
Brandon Marshall,16,173,109,63.0,1502,14,69,8.7,13.8,14.4,230.2
Allen Robinson II,16,151,80,53.0,1400,14,90,9.3,17.5,14.0,224.0
Odell Beckham Jr.,15,158,96,60.8,1450,13,87,9.2,15.1,14.9,223.3
...,...,...,...,...,...,...,...,...,...,...,...
Malik Taylor,10,3,2,66.7,14,0,7,4.7,7.0,-0.1,-0.6
Racey McMath,9,6,2,33.3,8,0,9,1.3,4.0,-0.1,-1.2
Travis Benjamin,10,5,0,0.0,0,0,0,0.0,0.0,-0.2,-2.0
J.J. Koski,5,0,0,0.0,0,0,0,0.0,0.0,-0.4,-2.0
Diontae Spencer,15,4,1,25.0,-3,0,0,-0.8,-3.0,-0.3,-4.3

In [596]:
results.shape

(1649, 11)

In [597]:
# y is the target and x is the features
# for this case we're training on touchdown performance first
y = results['Touchdowns']
X = results.drop(columns=['Touchdowns'])

# create the training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=.20)

In [598]:
# create a StandardScaler instance
scaler = StandardScaler()

# fit the StandardScaler
X_scaler = scaler.fit(X_train)

# scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [599]:
X_test.shape

(330, 10)

## Model Creation

In [600]:
# define the model
nn = Sequential()

# first hidden layer
nn.add(Dense(units=100, activation = 'relu', input_dim = X_test.shape[1]))

# second hidden layer
nn.add(Dense(units=60, activation='relu'))

# third hidden layer
nn.add(Dense(units=30, activation='relu'))

# output layer
nn.add(Dense(units=1, activation='relu'))

# check the structure of the model
nn.summary()

Model: "sequential_51"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_177 (Dense)           (None, 100)               1100

 dense_178 (Dense)           (None, 60)                6060

 dense_179 (Dense)           (None, 30)                1830

 dense_180 (Dense)           (None, 1)                 31

=================================================================
Total params: 9021 (35.24 KB)
Trainable params: 9021 (35.24 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [601]:
# compile the model
# mae or mse
nn.compile(loss="mse", optimizer="adam", metrics=["accuracy"])

In [602]:
# train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=60)

Epoch 1/60
42/42 [==============================] - 0s 549us/step - loss: 6.5878 - accuracy: 0.4056
Epoch 2/60
42/42 [==============================] - 0s 516us/step - loss: 1.7302 - accuracy: 0.4450
Epoch 3/60
42/42 [==============================] - 0s 559us/step - loss: 1.3111 - accuracy: 0.4625
Epoch 4/60
42/42 [==============================] - 0s 557us/step - loss: 0.9468 - accuracy: 0.4723
Epoch 5/60
42/42 [==============================] - 0s 543us/step - loss: 0.7149 - accuracy: 0.4898
Epoch 6/60
42/42 [==============================] - 0s 567us/step - loss: 0.5392 - accuracy: 0.5004
Epoch 7/60
42/42 [==============================] - 0s 544us/step - loss: 0.4796 - accuracy: 0.5064
Epoch 8/60
42/42 [==============================] - 0s 579us/step - loss: 0.4157 - accuracy: 0.5057
Epoch 9/60
42/42 [==============================] - 0s 574us/step - loss: 0.3772 - accuracy: 0.5262
Epoch 10/60
42/42 [==============================] - 0s 547us/step - loss: 0.3654 - accuracy: 0.5269
Epoch 11/60
42/42 [==============================] - 0s 584us/step - loss: 0.3484 - accuracy: 0.5315
Epoch 12/60
42/42 [==============================] - 0s 549us/step - loss: 0.3535 - accuracy: 0.5292
Epoch 13/60
42/42 [==============================] - 0s 549us/step - loss: 0.3439 - accuracy: 0.5315
Epoch 14/60
42/42 [==============================] - 0s 581us/step - loss: 0.3526 - accuracy: 0.5322
Epoch 15/60
42/42 [==============================] - 0s 541us/step - loss: 0.3748 - accuracy: 0.5307
Epoch 16/60
42/42 [==============================] - 0s 572us/step - loss: 0.3232 - accuracy: 0.5398
Epoch 17/60
42/42 [==============================] - 0s 550us/step - loss: 0.3188 - accuracy: 0.5375
Epoch 18/60
42/42 [==============================] - 0s 559us/step - loss: 0.3125 - accuracy: 0.5398
Epoch 19/60
42/42 [==============================] - 0s 549us/step - loss: 0.3157 - accuracy: 0.5428
Epoch 20/60
42/42 [==============================] - 0s 551us/step - loss: 0.3224 - accuracy: 0.5383
Epoch 21/60
42/42 [==============================] - 0s 549us/step - loss: 0.3441 - accuracy: 0.5353
Epoch 22/60
42/42 [==============================] - 0s 551us/step - loss: 0.2999 - accuracy: 0.5436
Epoch 23/60
42/42 [==============================] - 0s 549us/step - loss: 0.2985 - accuracy: 0.5428
Epoch 24/60
42/42 [==============================] - 0s 570us/step - loss: 0.3136 - accuracy: 0.5436
Epoch 25/60
42/42 [==============================] - 0s 553us/step - loss: 0.3065 - accuracy: 0.5398
Epoch 26/60
42/42 [==============================] - 0s 586us/step - loss: 0.2967 - accuracy: 0.5436
Epoch 27/60
42/42 [==============================] - 0s 566us/step - loss: 0.3119 - accuracy: 0.5383
Epoch 28/60
42/42 [==============================] - 0s 535us/step - loss: 0.2972 - accuracy: 0.5390
Epoch 29/60
42/42 [==============================] - 0s 562us/step - loss: 0.3387 - accuracy: 0.5444
Epoch 30/60
42/42 [==============================] - 0s 547us/step - loss: 0.2827 - accuracy: 0.5368
Epoch 31/60
42/42 [==============================] - 0s 570us/step - loss: 0.2899 - accuracy: 0.5512
Epoch 32/60
42/42 [==============================] - 0s 554us/step - loss: 0.3027 - accuracy: 0.5421
Epoch 33/60
42/42 [==============================] - 0s 568us/step - loss: 0.3123 - accuracy: 0.5512
Epoch 34/60
42/42 [==============================] - 0s 561us/step - loss: 0.2937 - accuracy: 0.5428
Epoch 35/60
42/42 [==============================] - 0s 561us/step - loss: 0.2781 - accuracy: 0.5474
Epoch 36/60
42/42 [==============================] - 0s 548us/step - loss: 0.3042 - accuracy: 0.5474
Epoch 37/60
42/42 [==============================] - 0s 555us/step - loss: 0.2828 - accuracy: 0.5519
Epoch 38/60
42/42 [==============================] - 0s 560us/step - loss: 0.2607 - accuracy: 0.5489
Epoch 39/60
42/42 [==============================] - 0s 545us/step - loss: 0.2613 - accuracy: 0.5534
Epoch 40/60
42/42 [==============================] - 0s 562us/step - loss: 0.2673 - accuracy: 0.5527
Epoch 41/60
42/42 [==============================] - 0s 627us/step - loss: 0.2622 - accuracy: 0.5512
Epoch 42/60
42/42 [==============================] - 0s 691us/step - loss: 0.2625 - accuracy: 0.5512
Epoch 43/60
42/42 [==============================] - 0s 595us/step - loss: 0.2730 - accuracy: 0.5527
Epoch 44/60
42/42 [==============================] - 0s 622us/step - loss: 0.3437 - accuracy: 0.5444
Epoch 45/60
42/42 [==============================] - 0s 614us/step - loss: 0.2835 - accuracy: 0.5383
Epoch 46/60
42/42 [==============================] - 0s 597us/step - loss: 0.2591 - accuracy: 0.5534
Epoch 47/60
42/42 [==============================] - 0s 613us/step - loss: 0.2633 - accuracy: 0.5489
Epoch 48/60
42/42 [==============================] - 0s 600us/step - loss: 0.2722 - accuracy: 0.5512
Epoch 49/60
42/42 [==============================] - 0s 574us/step - loss: 0.2676 - accuracy: 0.5466
Epoch 50/60
42/42 [==============================] - 0s 573us/step - loss: 0.2530 - accuracy: 0.5512
Epoch 51/60
42/42 [==============================] - 0s 565us/step - loss: 0.2820 - accuracy: 0.5459
Epoch 52/60
42/42 [==============================] - 0s 583us/step - loss: 0.3524 - accuracy: 0.5466
Epoch 53/60
42/42 [==============================] - 0s 561us/step - loss: 0.2595 - accuracy: 0.5504
Epoch 54/60
42/42 [==============================] - 0s 561us/step - loss: 0.2632 - accuracy: 0.5572
Epoch 55/60
42/42 [==============================] - 0s 536us/step - loss: 0.2423 - accuracy: 0.5565
Epoch 56/60
42/42 [==============================] - 0s 562us/step - loss: 0.2522 - accuracy: 0.5534
Epoch 57/60
42/42 [==============================] - 0s 615us/step - loss: 0.2576 - accuracy: 0.5542
Epoch 58/60
42/42 [==============================] - 0s 571us/step - loss: 0.2411 - accuracy: 0.5504
Epoch 59/60
42/42 [==============================] - 0s 558us/step - loss: 0.2494 - accuracy: 0.5580
Epoch 60/60
42/42 [==============================] - 0s 545us/step - loss: 0.2478 - accuracy: 0.5527

In [603]:
# evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

11/11 - 0s - loss: 0.8952 - accuracy: 0.5576 - 92ms/epoch - 8ms/step
Loss: 0.8951665759086609, Accuracy: 0.5575757622718811